<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.min.css" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6010515439653431"
            crossorigin="anonymous"></script>
</head>

<body>

        <!-- Navbar Start -->
        <div class="container-fluid p-0 nav-bar" >
            <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
                <a href="/index" class="navbar-brand px-lg-4 m-0">
                    <h1 class="m-0 display-4 text-uppercase text-white">TEST</h1>
                </a>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto p-4">
                        <a href="/index" class="nav-item nav-link active">HOME</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">TEST COLLECTION</a>
                            <div class="dropdown-menu text-capitalize">
                                <a href="/reaction" class="dropdown-item">REACTION RATE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->


        <!-- Page Header Start -->
        <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
            <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
                <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">WELCOME!</h1>
                <div class="d-inline-flex mb-lg-5">
                </div>
            </div>
        </div>
        <!-- Page Header End -->

    <div class="wrapper" style="max-width : 1440px; margin: auto;">
        <!-- Menu Start -->
        <div class="container-fluid pt-5">
            <div class="container">
                <div class="section-title">
                    <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">TEST COLLECTION</h4>
                    <h1 class="display-4"></h1>
                </div>
                <div class="row">
                    <div class="col-lg-6 ">
                        <h1 class="mb-5">심리 테스트</h1>
                        <div class="row align-items-center mb-5">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h1 class="mb-5">심심풀이 테스트</h1>
                        <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                                <img class="w-100 rounded-circle mb-3 mb-sm-0" src="img/reaction_img.png" alt="">
                                <h5 class="menu-price">HOT</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                                <h4><a href="/reaction">반응속도 테스트</a></h4>
                                <p class="m-0">반응속도를 테스트 해봅시다.!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </div>


        <!-- Footer Start -->
        <div class="container-fluid footer text-white mt-5 pt-5 px-0 position-relative overlay-top">
            <div class="row mx-0 pt-5 px-sm-3 px-lg-5 mt-4">
                <div class="col-lg-12 col-md-6 mb-5 text-center">
                    <h4 class="text-white text-uppercase mb-4" style="letter-spacing: 3px;">문의사항</h4>
                    <p class="m-0"><i class="fa fa-envelope mr-2"></i>bgwbgw1001@gmail.com</p>
                </div>

            </div>
            <div class="container-fluid text-center text-white border-top mt-4 py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
                <p class="mb-2 text-white">Copyright &copy; <a class="font-weight-bold" href="#">Domain</a>. All Rights Reserved.</a></p>
                <p class="m-0 text-white">Designed by <a class="font-weight-bold" href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
        <!-- Footer End -->


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>